<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/tareas">Tareas</ion-item>
      <ion-item routerLink="/calendario">Calendario</ion-item>
      <ion-item routerLink="/perfil">Perfil</ion-item>
      <ion-item routerLink="/prueba">Prueba</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
